@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.Characters,
.Character {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.add-character {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-info {
    border: 1px solid black;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 300px;
    overflow-x: scroll;
}

.character-info p {
    margin: 10px 0 10px 0;
}

button {
    cursor: pointer;
}

.character-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.character-details {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.character-props {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
}

.character-prop {
    height: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.character-prop h4 {
    margin: 0 20px 0 0;
    padding: 0;
}

.character-abilities {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-prop,
.character-abilities {
    width: 200px;
    border: 1px solid black;
    text-align: center;
}


.character-bio {
    border: 1px solid black;
    overflow-y: scroll;
    width: 300px;
}

.character-bio h4 {
    text-align: center;
}