.data-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.add-world {
    display: flex;
    flex-direction: column;
    align-items: center;
}